.challenge-wrapper {
  font-family: 'Inter', sans-serif;
  .container {
    .hero {
      .bannerimg {
        .desktopimg {
          display: block;
        }
        .mobileimg {
          display: none;
        }
        @media (max-width: 768px) {
          .desktopimg {
            display: none;
          }
          .mobileimg {
            display: block;
          }
        }
      }
      .readmoresection {
        .readmoretitle {
          color: #00001a;
          font-size: 50px;
          font-weight: 800;
          text-align: left;
          line-height: 3.5rem;
        }
        @media (max-width: 768px) {
          .readmoretitle {
            font-size: 40px;
            margin-bottom: 10px;
          }
        }
        .readmoretext {
          color: hsl(236, 13%, 42%);
          font-size: 15px;
        }
        .readmorebtn {
          background-color: hsl(5, 85%, 63%);
          font-size: 12px;
          padding: 12px 40px;
          color: #00001a;
          text-transform: uppercase;
          margin-right: 160px;
          font-weight: 700;
          letter-spacing: 0.2rem;
          cursor: pointer;
        }
        .readmorebtn:hover {
          background-color: #00001a;
          color: hsl(36, 100%, 99%);
        }
        @media (max-width: 768px) {
          .readmorebtn {
            background-color: hsl(5, 85%, 63%);
            color: #00001a;
            margin: 0 auto;
            display: block;
            text-align: center;
            margin-bottom: 20px;
          }
        }
      }
      .card {
        background-color: #00001a;
        padding: 30px 15px;
        .card-title {
          font-weight: 700;
          color: #e9ab53;
        }
        .title1 {
          font-weight: 400;
          color: #fffdfa;
        }
        .title2 {
          font-weight: 400;
          color: #e9ab53;
        }
        p {
          color: hsl(233, 8%, 79%);
        }
        .card-text {
          color: #bebebe;
          font-size: 15px;
        }
      }
    }
  }
}
