include ./components/index

block variables

doctype html
html(lang='en_US')
  head
    title Innovix Pug Template

    include @utils/metas
    include @utils/links
    include @utils/og
    link(href='@styles/main.scss' rel='stylesheet')
    link(href='../../node_modules/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css')
    link(rel='stylesheet' href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css")

    //- google fonts

    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet")
  body
    +Header
    
    main
      block content
      
     
   
       
      
    //- +Footer
    script(src='@/main.js' type='module')
    script(src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js")
    block additional-scripts